.first_view{
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg");
    min-height: 100%;
}
.second_view{
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg");
    min-height: 100%;
    
}
.third_view{
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg");
    min-height: 100%;
}

.forth_view{
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg");
    min-height: 100%;
}
.first_view,.second_view,.third_view,.forth_view{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.70;
}
div{
    display: block;
}
body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato",sans-serif ;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

section{
    text-align: center;
    padding: 50px 80px;
}

.blackBackground{
    background-color: #282e34;
    color: white;
}

.SectionText {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.SectionText .centerText {
    background-color: #111;
    color: #fff;
    padding: 22px;
}
h2{
    text-align: center;
}

